<template>

        <canvas ref="myChart" width="500" height="300" style="display: block; width: 1109px; height: 450px;"></canvas>



</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: 'customers-chart',
        mounted() {
            new Chart(this.$refs.myChart, {
                type: 'line',
                data: {
                    labels: ['1398-12-11', '1398-12-11', '1398-12-11', '1398-12-11', '1398-12-11'],
                    datasets: [
                        {
                            label: 'سفارش های مشتریان',
                                borderColor: 'rgba(50, 115, 220, 0.5)',
                                backgroundColor: 'rgba(50, 115, 220, 0.1)',
                            data: [300, 700, 450, 750, 450]
                        }
                    ]
                }
            });
        }
    }
</script>

<style scoped>

</style>
