<template>

        <canvas ref="myChart"  style="display: block; width: 1109px; height: 450px;"></canvas>



</template>

<script>
    import Chart from 'chart.js';

    export default {
        name: 'my-chart',
        mounted() {
            new Chart(this.$refs.myChart, {
                type: 'line',
                data: {
                    labels: ['1398-12-11', '1398-12-11', '1398-12-11', '1398-12-11', '1398-12-11'],
                    datasets: [
                        {
                            label: 'سفارش های من',
                            borderColor: 'rgba(255, 56, 96, 0.5)',
                            backgroundColor: 'rgba(255, 56, 96, 0.1)',
                            data: [300, 700, 450, 750, 450]
                        }
                    ]
                }
            });
        }
    }
</script>

<style scoped>

</style>
