<template>

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">داشبورد</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-right-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center text-center">
                            <div class="col ml-2">
                                <div class="h5 mb-2 text-danger">95</div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">تعداد سفارش کل</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-right-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center text-center">
                            <div class="col ml-2">
                                <div class="h5 mb-2 text-success">0</div>
                                <span class="h6 mb-0 font-weight-bold text-gray-800">سفارش ماه جاری</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="card border-right-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center text-center">
                            <div class="col ml-2">
                                <div class="h5 mb-2 text-primary">0</div>
                                <span class="h6 mb-0 font-weight-bold text-gray-800">سفارش هفته جاری</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">سفارش های مشتریان</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                          <customers-chart></customers-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">سفارش های من</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <my-chart></my-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</template>

<script>

import MyChart from "../charts/MyChart";
import CustomersChart from "../charts/CustomersChart";

    export default {
        name: "Index",

        components: {
            CustomersChart,
            MyChart
        },

    }
</script>

<style scoped>

</style>
