<template>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">لیست سفارش ها</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <div class="col-xl-12 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">لیست سفارش ها</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <table class="table table-striped text-right table-responsive-sm">
                            <thead>
                            <tr>
                                <th>کد سفارش</th>
                                <th>توضیخات</th>
                                <th>محصولات</th>
                                <th>مشتری</th>
                                <th>آدرس</th>
                                <th>وضعیت</th>
                                <th>میزان پرداخت</th>
                                <th>پرداخت</th>
                                <th>قیمت محصولات</th>
                                <th>زمان سفارش</th>
                                <th>مدیریت</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>توضیحاتی ندارد</td>
                                <td><a href="#" class="btn btn-info"><span class="text">جزییات</span></a></td>
                                <td>علی علایی</td>
                                <td>توضیحاتی ندارد</td>
                                <td><span class="text-danger">در انتظار پرداخت</span></td>
                                <td>172325000</td>
                                <td><span class="text-success">پرداخت شده</span></td>
                                <td>172325000</td>
                                <td>1398-12-11</td>
                                <td>ندارد</td>
                            </tr>

                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link " href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!-- /.container-fluid -->
</template>

<script>
    export default {
        name: "MyOrder"
    }
</script>

<style scoped>

</style>
